{% extends "auctions/layout.html" %}

{% block title %}
Tags
{% endblock title %}
{% block part %}
<span class="badge badge-pill badge-info">{{ count }}</span>
{% endblock part %}
{% block body %}
{% for tag in tags %}
<form action="{% url 'auctionpage' %}" method="GET">
    <div class="card" style="width: 30rem;float: left;padding: 10px;">
        <img src="media/{{ tag.auction.image }}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ tag.auction.title }}</h5>
            <p class="card-text">{{ tag.auction.description }}</p>
            <p class="card-text">Starter Bid : {{ tag.auction.starter_bid }} $</p>
            <input type="hidden" value="{{ tag.auction.id }}" name="hidden"></input>
            <input type="submit" value="view more" class="btn btn-dark">
        </div>
    </div>
</form>
{% endfor %}
{% endblock body %}